<h1 class="title animated jackInTheBox">Lista de Tarefa</h1>
<ul class="animated flipInX" *ngIf="mode=='list'">
  <p><Small *ngIf="todos.length==0">Não tem nenhuma tarefa hoje!</Small></p>
  <li *ngFor="let todo of todos">
    {{todo.title}}
    <button (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>
  </li>
</ul>
<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <h1 class="text-center">Nova Tarefa</h1>
  <form [formGroup]="form">
    <input type="text" placeholder="Título da tarefa" maxlength="60" formControlName="title">
    <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine ">Este campo deve conter
      entre 3 e 60
      caracteres <br></small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="add()"><i class="far fa-save"> </i> Salvar</button>
    </p>
  </form>
  <br> <br>
</div>
<button class="add-button animated fadeInUp button" (click)="changeModel('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA</button>
<button class="add-button animated fadeInUp button" (click)="changeModel('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR</button>
